.cat-popup
    .cat-popup__wrapper
        button(type="button").cat-popup__return
        button(type="button").cat-popup__closer
        h3.cat-popup__title Каталог

        .cat-popup__list
            details.cat-popup__item
                summary.cat-popup__name
                    span Огнетушители
                    span.cat-popup__arrow
                .cat-popup__inner
                    h3.cat-popup__inner-title Огнетушители
                    ul.cat-popup__inner-list
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Специальные для металлоконструкций
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Генераторы огнетушащего аэрозоля
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Огнетушители воздушно-эмульсионные с огнетушащей способностью по классу
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Огнетушители специального назначения (класс Д, горение металлов)
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Комплектующие для огнетушителей
                            
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Порошковые огнетушители
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Углекислотные огнетушители
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Воздушно-пенные огнетушители
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Воздушно-эмульсионные огнетушители
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Самосрабатывающие огнетушители
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Ранцевые огнетушители
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Хладоновые огнетушители
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Специальные для металлоконструкций
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Генераторы огнетушащего аэрозоля
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Огнетушители воздушно-эмульсионные с огнетушащей способностью по классу
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Огнетушители специального назначения (класс Д, горение металлов)
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Комплектующие для огнетушителей
            details.cat-popup__item
                summary.cat-popup__name
                    span Пожарные рукава
                    span.cat-popup__arrow
                .cat-popup__inner
                    h3.cat-popup__inner-title Пожарные рукава
                    ul.cat-popup__inner-list
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Порошковые огнетушители
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Углекислотные огнетушители
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Воздушно-пенные огнетушители
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Воздушно-эмульсионные огнетушители
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Самосрабатывающие огнетушители
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Ранцевые огнетушители
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Хладоновые огнетушители
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Специальные для металлоконструкций
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Генераторы огнетушащего аэрозоля
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Огнетушители воздушно-эмульсионные с огнетушащей способностью по классу
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Огнетушители специального назначения (класс Д, горение металлов)
                        li.cat-popup__inner-item
                            a(href="itemcard.html" target="_self").cat-popup__inner-link Комплектующие для огнетушителей
            details.cat-popup__item
                summary.cat-popup__name 
                    span Пожарный инвентарь
                    span.cat-popup__arrow
                .cat-popup__inner
            details.cat-popup__item
                summary.cat-popup__name 
                    span Пожарные шкафы
                    span.cat-popup__arrow
                .cat-popup__inner
            details.cat-popup__item
                summary.cat-popup__name 
                    span Вентили
                    span.cat-popup__arrow
                .cat-popup__inner
            details.cat-popup__item
                summary.cat-popup__name 
                    span Головки соединительные
                    span.cat-popup__arrow
                .cat-popup__inner
            details.cat-popup__item
                summary.cat-popup__name 
                    span Гидранты
                    span.cat-popup__arrow
                .cat-popup__inner
            details.cat-popup__item
                summary.cat-popup__name 
                    span Газовые баллоны
                    span.cat-popup__arrow
                .cat-popup__inner
            details.cat-popup__item
                summary.cat-popup__name 
                    span Извешатели, датчики
                    span.cat-popup__arrow
                .cat-popup__inner
            details.cat-popup__item
                summary.cat-popup__name 
                    span Пожарные стволы
                    span.cat-popup__arrow
                .cat-popup__inner
            details.cat-popup__item
                summary.cat-popup__name 
                    span Пожарные знаки, стэнды
                    span.cat-popup__arrow
                .cat-popup__inner
            details.cat-popup__item
                summary.cat-popup__name 
                    span Средства индивидуальной защиты
                    span.cat-popup__arrow
                .cat-popup__inner
            details.cat-popup__item
                summary.cat-popup__name 
                    span Ожежда пожарных
                    span.cat-popup__arrow
                .cat-popup__inner
            details.cat-popup__item
                summary.cat-popup__name 
                    span Пожарное снаряжение
                    span.cat-popup__arrow
                .cat-popup__inner
            details.cat-popup__item
                summary.cat-popup__name 
                    span Огнезащитные составы и краски
                    span.cat-popup__arrow
                .cat-popup__inner
            details.cat-popup__item
                summary.cat-popup__name 
                    span Системы пожаротушения
                    span.cat-popup__arrow
                .cat-popup__inner
            details.cat-popup__item
                summary.cat-popup__name 
                    span Двери, ворота, люки
                    span.cat-popup__arrow
                .cat-popup__inner
            details.cat-popup__item
                summary.cat-popup__name 
                    span Пенообразователи
                    span.cat-popup__arrow
                .cat-popup__inner
            details.cat-popup__item
                summary.cat-popup__name 
                    span Водопенное оборудование
                    span.cat-popup__arrow
                .cat-popup__inner
            details.cat-popup__item
                summary.cat-popup__name 
                    span Насосы и мотопомпы
                    span.cat-popup__arrow
                .cat-popup__inner
