section.about#about
    h2.about__title.section-title О компании
    p.about__description Мы занимаемся поставками противопожарного оборудования более 5 лет и имеем прямые договоры с производителями и лидерами отрасли. Для вас способны сократить ваши издержки по обеспечению безопасности, не нарушая законодательство Российской Федерации и требования МЧС. Все оборудование регулярно проходит испытания на соответствие необходимых функциональных параметров.
    p.about__description Представьте, что вам не нужно искать необходимое оборудование в разных местах, сравнивать цены и уточнять его соответствие нюансам буквы закона, а иметь одного надежного партнера, который отправит все что нужно согласно требованиям. Уверены, вы найдете, куда потратить свободное время.
    
    .about__controls
        a(href="about.html" target="_self").about__link Подробнее
        button(type="button").about__expand Ещё
