section.clients
    h2.clients__title.section-title Нам доверяют
    
    ul.clients__list
        li.clients__item
            a(href="" target="_self").clients__link
                img(src="static/images/content/clients-1.svg" width="" height="" alt="").clients__logo
        li.clients__item
            a(href="" target="_self").clients__link
                img(src="static/images/content/clients-1.svg" width="" height="" alt="").clients__logo
        li.clients__item
            a(href="" target="_self").clients__link
                img(src="static/images/content/clients-1.svg" width="" height="" alt="").clients__logo
        li.clients__item
            a(href="" target="_self").clients__link
                img(src="static/images/content/clients-1.svg" width="" height="" alt="").clients__logo
        li.clients__item
            a(href="" target="_self").clients__link
                img(src="static/images/content/clients-1.svg" width="" height="" alt="").clients__logo
        li.clients__item
            a(href="" target="_self").clients__link
                img(src="static/images/content/clients-1.svg" width="" height="" alt="").clients__logo
        li.clients__item
            a(href="" target="_self").clients__link
                img(src="static/images/content/clients-1.svg" width="" height="" alt="").clients__logo
        li.clients__item
            a(href="" target="_self").clients__link
                img(src="static/images/content/clients-1.svg" width="" height="" alt="").clients__logo
