section.intro
    img(src="static/images/content/logo.svg" width="1110" height="144" alt="Bagor Company").intro__logo
    h1.intro__title Поставки любого пожарного оборудования напрямую от&nbsp;заводов-изготовителей
    ul.intro__list
        li.intro__item
            b.intro__nr 01
            p.intro__description Подбор оборудования под ваше помещение в соответствии с законом от 22.07.2008 №123-ФЗ
        li.intro__item
            b.intro__nr 02
            p.intro__description Соответствие обородования требованиям МЧС 
        li.intro__item
            b.intro__nr 03
            p.intro__description Отправка в день оплаты
