section.latest
    h2.latest__title.section-title Новинки
    
    .latest__list
        .latest__slider.swiper-latest-container
            .swiper-wrapper
                +item('swiper-slide latest__item', 'Огнетушитель углекислотный ОУ-5', 'hsn', 'В наличии', 'inStock', '3000 р', '4000 р', 'itemcard.html', 'item-1')
                +item('swiper-slide latest__item', 'Огнетушитель углекислотный ОУ-5', 'hs', 'В наличии', 'inStock', '3000 р', '4000 р', 'itemcard.html', 'item-1')
                +item('swiper-slide latest__item', 'Огнетушитель углекислотный ОУ-5', 'hn', 'Нет в наличии', 'notInStock', '3000 р', '4000 р', 'itemcard.html', 'item-1')
                +item('swiper-slide latest__item', 'Огнетушитель углекислотный ОУ-5', 'hsn', 'В наличии', 'inStock', '3000 р', '4000 р', 'itemcard.html', 'item-1')
                +item('swiper-slide latest__item', 'Огнетушитель углекислотный ОУ-5', 'hs', 'В наличии', 'inStock', '3000 р', '4000 р', 'itemcard.html', 'item-1')
                +item('swiper-slide latest__item', 'Огнетушитель углекислотный ОУ-5', 'hn', 'Нет в наличии', 'notInStock', '3000 р', '4000 р', 'itemcard.html', 'item-1')
            .latest__pagination
        .latest__controls
            button(type="button").latest__prev
            button(type="button").latest__next
