section.news
    .news__head
        h2.news__title.section-title Новости
        a(href="news.html" target="_self").news__link 
            span Смотреть все
            span.news__link-icon
    ul.news__list
        li.news__item
            time(datetime="31-07-2022").news__time 31.07.2022
            a(href="#" target="_self").news__name Новые способы потушить пожар
            p.news__description Представьте, что вам не нужно искать необходимое оборудование в разных местах, сравнивать цены и уточнять его соответствие нюансам буквы закона, а иметь одного надежного партнера, который отправит все что нужно согласно требованиям.
        li.news__item
            time(datetime="31-07-2022").news__time 31.07.2022
            a(href="#" target="_self").news__name Новые способы потушить пожар
            p.news__description Представьте, что вам не нужно искать необходимое оборудование в разных местах, сравнивать цены и уточнять его соответствие нюансам буквы закона, а иметь одного надежного партнера, который отправит все что нужно согласно требованиям.
        li.news__item
            time(datetime="31-07-2022").news__time 31.07.2022
            a(href="#" target="_self").news__name Новые способы потушить пожар
            p.news__description Представьте, что вам не нужно искать необходимое оборудование в разных местах, сравнивать цены и уточнять его соответствие нюансам буквы закона, а иметь одного надежного партнера, который отправит все что нужно согласно требованиям.
        li.news__item
            time(datetime="31-07-2022").news__time 31.07.2022
            a(href="#" target="_self").news__name Новые способы потушить пожар
            p.news__description Представьте, что вам не нужно искать необходимое оборудование в разных местах, сравнивать цены и уточнять его соответствие нюансам буквы закона, а иметь одного надежного партнера, который отправит все что нужно согласно требованиям.
