section.offers
    h2.offers__title.section-title Спецпредложения
    
    .offers__list
        .offers__slider.swiper-offers-container
            .swiper-wrapper
                +item('swiper-slide offers__item', 'Огнетушитель углекислотный ОУ-5 Какой-то', 'hsn', 'В наличии', 'inStock', '3000 р', '4000 р', 'itemcard.html', 'item-1')
                +item('swiper-slide offers__item', 'Огнетушитель углекислотный ОУ-5', 'hs', 'В наличии', 'inStock', '3000 р', '4000 р', 'itemcard.html', 'item-1')
                +item('swiper-slide offers__item', 'Огнетушитель углекислотный ОУ-5', 'hn', 'Нет в наличии', 'notInStock', '3000 р', '4000 р', 'itemcard.html', 'item-1')
                +item('swiper-slide offers__item', 'Огнетушитель углекислотный ОУ-5', 'hsn', 'В наличии', 'inStock', '3000 р', '4000 р', 'itemcard.html', 'item-1')
                +item('swiper-slide offers__item', 'Огнетушитель углекислотный ОУ-5', 'hs', 'В наличии', 'inStock', '3000 р', '4000 р', 'itemcard.html', 'item-1')
                +item('swiper-slide offers__item', 'Огнетушитель углекислотный ОУ-5', 'hn', 'Нет в наличии', 'notInStock', '3000 р', '4000 р', 'itemcard.html', 'item-1')
                +item('swiper-slide offers__item', 'Огнетушитель углекислотный ОУ-5', 'hsn', 'В наличии', 'inStock', '3000 р', '4000 р', 'itemcard.html', 'item-1')
                +item('swiper-slide offers__item', 'Огнетушитель углекислотный ОУ-5', 'hs', 'В наличии', 'inStock', '3000 р', '4000 р', 'itemcard.html', 'item-1')
                +item('swiper-slide offers__item', 'Огнетушитель углекислотный ОУ-5', 'hn', 'Нет в наличии', 'notInStock', '3000 р', '4000 р', 'itemcard.html', 'item-1')
            .offers__pagination
        .offers__controls
            button(type="button").offers__prev
            button(type="button").offers__next
