.popup-reaction
    .popup-reaction__wrapper
        button(type="button").popup-reaction__closer
        .popup-reaction__upper
            img(src="static/images/content/envelope-big.svg" width="" height="" alt="").popup-reaction__bg
        .popup-reaction__info
            h3.popup-reaction__title Спасибо! Ваша заявка отправлена!
            p.popup-reaction__description Мы свяжемся с Вами в&nbsp;ближайшее время.
