section.sales
    h2.sales__title.section-title Скидки
    
    .sales__list
        .sales__slider.swiper-sales-container
            .swiper-wrapper
                +item('swiper-slide sales__item', 'Огнетушитель углекислотный ОУ-5', 'hsn', 'В наличии', 'inStock', '3000 р', '4000 р', 'itemcard.html', 'item-1')
                +item('swiper-slide sales__item', 'Огнетушитель углекислотный ОУ-5', 'hs', 'В наличии', 'inStock', '3000 р', '4000 р', 'itemcard.html', 'item-1')
                +item('swiper-slide sales__item', 'Огнетушитель углекислотный ОУ-5', 'hn', 'Нет в наличии', 'notInStock', '3000 р', '4000 р', 'itemcard.html', 'item-1')
                +item('swiper-slide sales__item', 'Огнетушитель углекислотный ОУ-5', 'hsn', 'В наличии', 'inStock', '3000 р', '4000 р', 'itemcard.html', 'item-1')
                +item('swiper-slide sales__item', 'Огнетушитель углекислотный ОУ-5', 'hs', 'В наличии', 'inStock', '3000 р', '4000 р', 'itemcard.html', 'item-1')
                +item('swiper-slide sales__item', 'Огнетушитель углекислотный ОУ-5', 'hn', 'Нет в наличии', 'notInStock', '3000 р', '4000 р', 'itemcard.html', 'item-1')
            .sales__pagination
        .sales__controls
            button(type="button").sales__prev
            button(type="button").sales__next
