section.service#service
    h2.service__title.section-title Услуги
    
    .service__list
        .service__slider.swiper-service-container
            .swiper-wrapper
                +servItem('Ремонт спецтехники на выезде', 'service-1', '#', 'swiper-slide')
                +servItem('Ремонт спецтехники на выезде', 'service-1', '#', 'swiper-slide')
                +servItem('Ремонт спецтехники на выезде', 'service-1', '#', 'swiper-slide')
                +servItem('Ремонт спецтехники на выезде', 'service-1', '#', 'swiper-slide')
                +servItem('Ремонт спецтехники на выезде', 'service-1', '#', 'swiper-slide')
                +servItem('Ремонт спецтехники на выезде', 'service-1', '#', 'swiper-slide')
            .service__pagination
        .service__controls
            button(type="button").service__prev
            button(type="button").service__next
