article.text-block
    h2.text-block__title.section-title Заголовок
    .text-block__wrap
        p.text-block__description Забота о пожарной безопасности является важнейшей задачей, которая требует внимания со стороны любой организации. Оборудованием, помогающим в ее решении, являются пожарные шкафы. Данные шкафы позволяют хранить такие средства первоначальной борьбы с огнем, как пожарные рукава, огнетушители. Изделия ориентированы на использование в жилых и общественных зданиях, а также на производствах.
        button(type="button").text-block__expand
            span Ещё
            span.text-block__expand-icon
