.error-page {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    padding: toRem(22) 8.4375% toRem(28) 8.4375%;

    &__visual {
        width: 100%;
        height: 0;
        padding-bottom: 51.127819548872175%;
        max-width: toRem(582);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='266' height='136' viewBox='0 0 266 136' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_252_1154)'%3E%3Cpath d='M47.5259 109.777H9.14844V91L45.6977 2.1958H67.6287V91H77.1267V109.777H67.6287V133.619H47.5259V109.777ZM47.5259 91V39.7492H47.1617L27.4231 91H47.5259Z' fill='%23C60504'/%3E%3Cg opacity='0.3'%3E%3Cpath d='M47.5259 109.777H9.14844V91L45.6977 2.1958H67.6287V91H77.1267V109.777H67.6287V133.619H47.5259V109.777ZM47.5259 91V39.7492H47.1617L27.4231 91H47.5259Z' fill='black'/%3E%3C/g%3E%3Cpath d='M38.3703 109.777H0V91L36.5493 2.1958H58.4803V91H67.9854V109.777H58.4731V133.619H38.3703V109.777ZM38.3703 91V39.7492H38.0061L18.2746 91.0071H38.3703V91Z' fill='%23C60504'/%3E%3Cpath d='M114.918 126.862C109.676 121.105 107.062 112.972 107.062 102.457V33.3641C107.062 22.8485 109.683 14.7158 114.918 8.95862C120.153 3.20148 127.708 0.319336 137.577 0.319336C147.447 0.319336 154.995 3.20148 160.237 8.95862C165.471 14.7158 168.092 22.8485 168.092 33.3641V102.457C168.092 112.972 165.471 121.105 160.237 126.862C154.995 132.62 147.447 135.502 137.577 135.502C127.708 135.495 120.153 132.62 114.918 126.862ZM147.989 103.77V32.0514C147.989 23.4121 144.519 19.0961 137.57 19.0961C130.629 19.0961 127.158 23.4121 127.158 32.0514V103.77C127.158 112.409 130.629 116.725 137.57 116.725C144.519 116.725 147.989 112.402 147.989 103.77Z' fill='%23C60504'/%3E%3Cg opacity='0.3'%3E%3Cpath d='M160.23 8.95862C154.995 3.20148 147.44 0.319336 137.577 0.319336C127.708 0.319336 120.153 3.20148 114.918 8.95862C109.676 14.7158 107.062 22.8485 107.062 33.3641V102.457C107.062 112.972 109.683 121.105 114.918 126.862C120.153 132.62 127.708 135.502 137.577 135.502C147.447 135.502 154.995 132.627 160.237 126.862C165.471 121.105 168.092 112.972 168.092 102.457V33.3641C168.092 22.8485 165.471 14.7158 160.23 8.95862ZM147.989 103.77C147.989 112.409 144.519 116.725 137.57 116.725C130.629 116.725 127.158 111.303 127.158 103.77V32.0514C127.158 24.2183 130.629 19.0961 137.57 19.0961C144.512 19.0961 147.989 23.4121 147.989 32.0514V103.77Z' fill='black'/%3E%3C/g%3E%3Cpath d='M105.763 126.862C100.521 121.105 97.9072 112.972 97.9072 102.457V33.3641C97.9072 22.8485 100.528 14.7158 105.763 8.95862C111.004 3.20148 118.553 0.319336 128.422 0.319336C138.291 0.319336 145.84 3.20148 151.082 8.95862C156.316 14.7158 158.937 22.8485 158.937 33.3641V102.457C158.937 112.972 156.316 121.105 151.082 126.862C145.84 132.62 138.291 135.502 128.422 135.502C118.553 135.495 111.004 132.62 105.763 126.862ZM138.841 103.77V32.0514C138.841 23.4121 135.371 19.0961 128.429 19.0961C121.488 19.0961 118.017 23.4121 118.017 32.0514V103.77C118.017 112.409 121.488 116.725 128.429 116.725C135.363 116.725 138.841 112.402 138.841 103.77Z' fill='%23C60504'/%3E%3Cpath d='M236.392 109.777H198.015V91L234.571 2.1958H256.502V91H266.007V109.777H256.502V133.619H236.399V109.777H236.392ZM236.392 91V39.7492H236.028L216.289 91.0071H236.392V91Z' fill='%23C60504'/%3E%3Cg opacity='0.3'%3E%3Cpath d='M236.392 109.777H198.015V91L234.571 2.1958H256.502V91H266.007V109.777H256.502V133.619H236.399V109.777H236.392ZM236.392 91V39.7492H236.028L216.289 91.0071H236.392V91Z' fill='black'/%3E%3C/g%3E%3Cpath d='M227.244 109.777H188.866V91L225.415 2.1958H247.346V91H256.852V109.777H247.346V133.619H227.244V109.777ZM227.244 91V39.7492H226.879L207.141 91.0071H227.244V91Z' fill='%23C60504'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_252_1154'%3E%3Crect width='266' height='135.175' fill='white' transform='translate(0 0.319336)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");

        margin-bottom: toRem(28);
    }

    &__title {
        @include font-setting($primary-font, toRem(18), 1.1666667, 500, $red);
        @include fluidFontSize(1.125rem, 3.75rem, 20rem, 85.3125rem, 1.125rem);
        text-align: center;
        margin-bottom: toRem(12);
    }

    &__description {
        @include font-setting($primary-font, toRem(18), 1.1666667, 400, $black);
        @include fluidFontSize(1.125rem, 1.875rem, 20rem, 85.3125rem, 1.125rem);
        text-align: center;

    }
}

@include min-screen(768px) {
    .error-page {
        padding: toRem(60) 8.4375%;

        &__visual {
            width: 100%;
            height: toRem(296);
            padding-bottom: 0;
            margin-bottom: toRem(38);
        }
    }
}
