.filter {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;

    z-index: 999;

    padding: toRem(10) 0;

    display: none;

    &.is-active {
        display: block;
    }

    &__head {
        width: 100%;
        @include flex-setting(row, space-between, center);
        padding-left: 6.25%;
        padding-right: 6.25%;
        padding-bottom: toRem(10);
        border-bottom: 1px solid rgba(0, 0, 0, 0.22);
    }

    &__btn {
        @include font-setting($primary-font, toRem(16), toRem(18.3), 400, $red);
        background-color: transparent;
        border: none;
    }

    &__title {
        @include font-setting($primary-font, toRem(16), toRem(18.3), 500, $black);
    }

    &__body {
        @include flex-setting(column, flex-start, center);
        width: 100%;
        max-height: 100%;
        overflow-y: auto;

        padding: toRem(10) 6.25%;
    }

    &__item {
        width: 100%;
        outline: none;
        margin-bottom: toRem(20);

        &:last-child {
            margin-bottom: 0;
        }

        &[open] {
            .filter__name {
                margin-bottom: toRem(16);
                opacity: 1;
                transition: 0.35s $cubic;
            }

            .filter__name-arr {
                transform: rotate(180deg);
                transition: 0.35s $cubic;
            }
        }

        &--range {
            @include flex-setting(column, flex-start, flex-start);

            .filter__name {
                order: 1;
                margin-bottom: toRem(16);
            }
        }
    }

    &__range-slider {
        width: 100%;
        order: 3;
        .irs-max,
        .irs-min,
        .irs-from,
        .irs-to {
            display: none;
        }

        .irs--round {
            height: toRem(11);
        }

        .irs-bar {
            top: 0;
            background-color: $red;
            height: toRem(3);
        }

        .irs-line {
            top: 0;
            height: toRem(3);
            background: rgba(0, 0, 0, 0.22);
        }

        .irs-handle.from,
        .irs-handle.to {
            width: toRem(11);
            height: toRem(11);
            border-radius: 50%;
            box-shadow: none;
            background-color: $red;
            border: none;
            top: toRem(-4);

            cursor: pointer;
        }

        .irs-single {
            display: none;
        }
    }

    &__range-controls {
        width: 100%;
        order: 2;

        @include flex-setting(row, space-between, center);

        margin-bottom: toRem(12);
    }

    &__range-wrap {
        width: auto;
        @include flex-setting(row, flex-start, center);

        span {
            @include font-setting($primary-font, toRem(14), toRem(16), 300, $black);
            margin-right: toRem(12);
        }
    }

    &__range-input {
        display: inline-flex;
        min-width: toRem(54);
        width: toRem(54);
        @include font-setting($primary-font, toRem(14), toRem(16), 300, $black);
        padding: toRem(3) toRem(3);
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 3px;
    }

    &__name {
        position: relative;
        width: 100%;
        @include flex-setting(row, space-between, center);
        @include font-setting($primary-font, toRem(18), toRem(20.8), 500, $red);
        outline: none;
        transition: 0.35s $cubic;

        &::-webkit-details-marker,
        &::marker {
            display: none;
        }

        &-arr {
            position: absolute;
            top: toRem(6);
            right: 0;
            display: block;
            width: toRem(14);
            height: toRem(7);

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 8L15 1' stroke='%23C60504'/%3E%3C/svg%3E");
            transition: 0.35s $cubic;
        }
    }

    &__inner {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);

        &-item {
            width: 100%;
            @include flex-setting(row, flex-start, center);
            position: relative;
            margin-bottom: toRem(10);

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &-label {
            @include font-setting($primary-font, toRem(16), toRem(18.3), 300, $black);
        }

        &-input {
            display: none;
        }

        &-input + label {
            @include checkbox-default;
        }

        &-input + label::before {
            @include custom-checkbox;
        }

        &-input:hover + label::before {
            border-color: $red;
            transition: 0.2s $cubic;
        }

        &-input:checked + label::after {
            @include checkbox-checked;
        }
    }

    &__submit {
        width: calc(100% - 12.5%);
        position: fixed;
        bottom: toRem(10);
        left: 50%;
        transform: translateX(-50%);
        padding: toRem(10) 0;
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, toRem(16), toRem(18.3), 500, $white);

        background-color: $red;
        border-radius: 9px;
        border: none;
    }

    &__reset {
        display: none;
    }
}

@include min-screen(768px) {
    .filter {
        width: 60vw;
        height: auto;
        background-color: $white;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        padding-bottom: toRem(40);
        box-shadow: 0 0 200px 50px rgba(0, 0, 0, 0.4);

        &__head {
            padding-top: toRem(16);
            padding-bottom: toRem(16);
        }

        &__btn {
            padding: 0;
        }

        &__body {
            padding-top: toRem(20);
            padding-bottom: toRem(20);
            margin-bottom: toRem(20);
            max-height: toRem(640);
            overflow-y: scroll;
        }

        &__item {
            margin-bottom: toRem(24);

            &[open] {
                .filter__name {
                    margin-bottom: toRem(24);
                }
            }

            &--range {
                .filter__name {
                    margin-bottom: toRem(24);
                }
            }
        }

        &__range-controls {
            margin-bottom: toRem(16);
        }

        &__range-wrap {
            span {
                font-size: toRem(16);
                line-height: toRem(18);
            }
        }

        &__range-input {
            width: toRem(64);
            font-size: toRem(16);
            line-height: toRem(18);
            padding: toRem(4) toRem(6);
            border-radius: 5px;
        }

        &__inner {
            &-item {
                margin-bottom: toRem(16);

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        &__submit {
            position: relative;
            bottom: auto;
            padding: toRem(16) 0;
            border-radius: 15px;
        }
    }
}

@include min-screen(1366px) {
    .filter {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);
        position: relative;
        top: auto;
        left: auto;
        height: auto;
        transform: none;
        box-shadow: none;
        z-index: 2;

        &__head {
            display: none;
        }

        &__btn {
            padding: 0;
        }

        &__body {
            background-color: #F5F5F5;
            border-radius: toRem(5);
            padding: toRem(14) toRem(18) toRem(24) toRem(16);
            margin-bottom: toRem(14);
            max-height: 100%;
            overflow-y: visible;
        }

        &__item {
            margin-bottom: toRem(30);

            &[open] {
                .filter__name {
                    margin-bottom: toRem(18);
                }
            }

            &--range {
                .filter__name {
                    margin-bottom: toRem(12);
                }
            }
        }

        &__name {
            cursor: pointer;
        }

        &__range-controls {
            margin-bottom: toRem(14);
        }

        &__range-wrap {
            span {
                font-size: toRem(16);
                line-height: toRem(18);
            }
        }

        &__range-input {
            width: toRem(54);
            font-size: toRem(14);
            line-height: toRem(16);
            padding: toRem(2) toRem(3);
        }

        &__inner {
            &-item {
                margin-bottom: toRem(8);

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        &__submit {
            width: 100%;
            color: $black;
            font-weight: 400;
            background-color: transparent;
            border: 2px solid rgba(0, 0, 0, 0.2);
            border-radius: 15px;
            padding: toRem(10) 0;
            margin-bottom: toRem(10);
            transition: 0.3s $cubic;
            cursor: pointer;
            outline: none;

            &:hover {
                border-color: $red;
                transition: 0.3s $cubic;
            }

            &:active {
                border-color: rgba(198, 5, 4, 0.42);
                transition: 0.3s $cubic;
            }
        }

        &__reset {
            align-self: center;
            @include flex-setting(column, center, center);
            @include font-setting($primary-font, toRem(16), toRem(18.4), 300, $black);
            padding-left: toRem(22);
            position: relative;
            background-color: transparent;
            border: none;

            cursor: pointer;
            transition: 0.2s $cubic;

            &::before {
                position: absolute;
                content: '';

                width: toRem(10);
                height: toRem(10);
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L11 11.3263' stroke='black' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M11 1L1 11.3263' stroke='black' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E");
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.2s $cubic;
            }

            &:hover {
                color: $red;
                transition: 0.2s $cubic;

                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L11 11.3263' stroke='%23C60504' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M11 1L1 11.3263' stroke='%23C60504' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E");
                    transition: 0.2s $cubic;
                }
            }
        }
    }
}
