.latest {
    width: 100%;

    @include flex-setting(column, flex-start, flex-start);

    padding: toRem(27) 6.25% 0 6.25%;
    margin-bottom: toRem(16);

    &__list {
        width: 100%;
        margin-bottom: toRem(12);
    }

    &__slider {
        width: 100%;
        position: relative;
    }

    &__prev,
    &__next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        width: 6.875%;
        height: toRem(42);
        background: $white;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 5px 10px;
        border: 1px solid rgba(0, 0, 0, 0.07);
        z-index: 2;
    }

    &__prev {
        left: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11L2 5.85714C3.66667 4.2381 7 1 7 1' stroke='%23D6D6D6' stroke-width='2'/%3E%3C/svg%3E");
        transition: 0.3s $cubic;

        &:active {
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11L2 5.85714C3.66667 4.2381 7 1 7 1' stroke='%23C60504' stroke-width='2'/%3E%3C/svg%3E");
            transition: 0.3s $cubic;
        }
    }

    &__next {
        right: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6.14286C4.33333 7.7619 1 11 1 11' stroke='%23D6D6D6' stroke-width='2'/%3E%3C/svg%3E");
        transition: 0.3s $cubic;

        &:active {
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6.14286C4.33333 7.7619 1 11 1 11' stroke='%23C60504' stroke-width='2'/%3E%3C/svg%3E");
            transition: 0.3s $cubic;
        }
    }

    &__pagination {
        position: absolute;
        bottom: toRem(-20) !important;

        z-index: 2;

        width: auto;
        @include flex-setting(row, center, center);

        .swiper-pagination-bullet {
            width: toRem(7);
            height: toRem(7);
            background: rgba(204, 201, 201, 0.31);
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background: $red;
        }
    }
}

@include min-screen(768px) {
    .latest {
        padding: 0 6.25%;
        margin-bottom: toRem(72);

        &__title {
            margin-bottom: toRem(40);
        }

        &__list {
            margin-bottom: 0;
        }

        &__item {
            transition: 0.3s $cubic;

            &:hover {
                transform: scale(1.0285);
                transform-origin: center;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                transition: 0.3s $cubic;
            }
        }

        &__slider {
            overflow: hidden;

            .swiper-wrapper {
                padding: toRem(10) 0;
                margin-bottom: toRem(34);
            }
        }

        &__prev,
        &__next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            width: 6.875%;
            height: toRem(42);
            background: $white;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 5px 10px;
            border: 1px solid rgba(0, 0, 0, 0.07);
            z-index: 2;
        }

        &__prev {
            left: 0;
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11L2 5.85714C3.66667 4.2381 7 1 7 1' stroke='%23D6D6D6' stroke-width='2'/%3E%3C/svg%3E");
            transition: 0.3s $cubic;

            &:active {
                background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11L2 5.85714C3.66667 4.2381 7 1 7 1' stroke='%23C60504' stroke-width='2'/%3E%3C/svg%3E");
                transition: 0.3s $cubic;
            }
        }

        &__next {
            right: 0;
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6.14286C4.33333 7.7619 1 11 1 11' stroke='%23D6D6D6' stroke-width='2'/%3E%3C/svg%3E");
            transition: 0.3s $cubic;

            &:active {
                background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6.14286C4.33333 7.7619 1 11 1 11' stroke='%23C60504' stroke-width='2'/%3E%3C/svg%3E");
                transition: 0.3s $cubic;
            }
        }

        &__pagination {
            position: relative;
            bottom: auto !important;

            .swiper-pagination-bullet {
                width: toRem(11);
                height: toRem(11);
                margin: 0 toRem(7);
            }
        }
    }
}

@include min-screen(1366px) {
    .latest {
        --width: calc(100% - 1182px);
        padding: 0 calc(var(--width) / 2);

        &__controls {
            @include flex-setting(row, center, center);
            width: auto;
            position: absolute;
            top: 0;
            right: calc(var(--width) / 2);
        }

        &__prev,
        &__next {
            position: relative;
            top: auto;
            transform: none;
            cursor: pointer;
            width: toRem(72);
            background-size: 10px 18px;
        }

        &__prev {
            left: auto;
            margin-right: toRem(14);

            &:hover {
                border-color: $red;
                background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11L2 5.85714C3.66667 4.2381 7 1 7 1' stroke='%23C60504' stroke-width='2'/%3E%3C/svg%3E");
                transition: 0.3s $cubic;
            }
        }

        &__next {
            right: auto;

            &:hover {
                border-color: $red;
                background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6.14286C4.33333 7.7619 1 11 1 11' stroke='%23C60504' stroke-width='2'/%3E%3C/svg%3E");
                transition: 0.3s $cubic;
            }
        }
    }
}
