.pricelist {
    width: 100%;

    @include flex-setting(column, flex-start, flex-start);

    padding: toRem(8) 6.25% toRem(40) 6.25%;

    &__info {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);
        margin-bottom: toRem(44);
    }

    &__title {
        @include font-setting($primary-font, toRem(20), 1.15, 500, $black);
        @include fluidFontSize(1.25rem, 2.5rem, 20rem, 85.3125rem, 1.25rem);
        margin-bottom: toRem(10);
    }

    &__subtitle {
        @include font-setting($primary-font, toRem(16), 1.125, 500, $black);
        @include fluidFontSize(1rem, 1.125rem, 20rem, 85.3125rem, 1rem);
        margin-bottom: toRem(8);
    }

    &__date {
        @include font-setting($primary-font, toRem(16), 1.125, 400, rgba(0, 0, 0, 0.5));
        @include fluidFontSize(1rem, 1.125rem, 20rem, 85.3125rem, 1rem);
        margin-bottom: toRem(12);
    }

    &__description {
        @include font-setting($primary-font, toRem(14), 1.14285, 400, $black);
        @include fluidFontSize(0.875rem, 1.125rem, 20rem, 85.3125rem, 0.875rem);
        margin-bottom: toRem(28);

        text-align: left;
    }

    &__download {
        width: 100%;
        @include font-setting($secondary-font, toRem(14), 1.21428, 700, $white);
        @include flex-setting(column, center, center);

        padding: toRem(15) 0;
        background-color: $red;
        border: none;
        border-radius: toRem(14);
        text-decoration: none;
        transition: 0.2s $cubic;

        &:active {
            background-color: rgba(198, 5, 4, 0.79);
            transition: 0.2s $cubic;
        }
    }

    &__visual {
        position: relative;
        width: 100%;
        @include flex-setting(column, center, center);
        height: 0;
        padding-bottom: 58.3941605839416%;

        &-image {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: contain;
        }
    }
}

@include min-screen(768px) {
    .pricelist {
        padding: toRem(40) 6.25%;

        &__info {
            margin-bottom: toRem(48);
        }

        &__title {
            margin-bottom: toRem(24);
        }

        &__subtitle {
            margin-bottom: toRem(16);
        }

        &__date {
            margin-bottom: toRem(16);
        }

        &__description {
            margin-bottom: toRem(32);
        }

        &__download {
            width: auto;
            padding: toRem(15) toRem(40);
            align-self: flex-start;
        }
    }
}

@include min-screen(1366px) {
    .pricelist {
        --width: calc(100% - 1182px);
        padding: toRem(60) calc(var(--width) / 2);
        display: grid;
        grid-template-columns: 1fr toRem(500);
        grid-column-gap: toRem(13);
        justify-content: center;
        align-items: center;

        &__title {
            margin-bottom: toRem(40);
        }

        &__info {
            margin-bottom: 0;
        }

        &__subtitle {
            margin-bottom: toRem(20);
        }

        &__download {
            padding: toRem(15) toRem(53);

            &:hover {
                background-color: #A20605;
                transition: 0.2s $cubic;
            }
        }
    }
}
